/*h1, h2, h3, h4, h5, h6 { margin: 0;}*/

.nomargin {
    margin: 0;
}

.count {
    counter-reset: badass-point-counter;
}

.count > [pp]:before {
    content: counter(badass-point-counter) ". ";
    counter-increment: badass-point-counter;
}

pre {
    padding: 0px;
    margin: 15px 15px 15px 0;
	border: none;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
	pre {
	    margin: 15px 0 0 0;
	}
}