/*h1, h2, h3, h4, h5, h6 { margin: 0;}*/

.nomargin {
	margin: 0;
}

.count {
	counter-reset: badass-point-counter;
}
.count > [pp]:before {
	content: counter(badass-point-counter) ". ";
	counter-increment: badass-point-counter;
}